extends layout

block content
  div.container
    h1= title
    form(action='/login', method='post')
      div
        //- label Username
        input(
          type='text'
          name='username'
          placeholder='Username'
        )
        //- label Password
        input(
          type='password'
          name='password'
          placeholder='Password'
        )
      #error.error
      div
        input(id='submit', type='button', value='Login', class='button-primary')
  script(src='/js/login.min.js')
