extends layout

block content
  div.container
    h1(style='margin-top: 3rem;')= title
    form(action='/login', method='post')
      div
        //- label Username
        input(
          type='text'
          name='username'
          placeholder='Username'
          style='margin-right: 1rem;'
        )
        //- label Password
        input(
          type='password'
          name='password'
          placeholder='Password'
        )
        #error.login-error
      div
        input(id='submit', type='button', value='Login', class='button-primary')
  script(src='/js/login.min.js')
